node_modules/
vendor/
.env
.env.local
dist/
backend/database/*.sqlite
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/app/attachments/*
!backend/storage/app/.gitignore
frontend/dist/
.DS_Store
